TIMELINE.md
*.env

/deploy_scripts/assets
/deploy_scripts/cdk.out

/load_balancer/load_balancer
/load_balancer/all_nodes.txt
/load_balancer/available_nodes.txt
/load_balancer/standby_nodes.txt

/app_server/app_server
/app_server/worker.log